*{
    margin: 0;
    padding: 0;
    /*font-family:*/
    box-sizing: border-box;
}
body{
    background: #222;
}
.card {
    width: 1000px;
    color: #fff;
    background: #333;
    margin: 40px 100px;
    margin-left: 100px;
    text-align: center;
    padding: 40px 35px;
    border-radius: 20px;
    float: left;
}
.logo {
    display: flex;
    float: left;
}
.logo img {
    width: 100px;
    height: 100px;
}
.logo h1 {
    font-size: 40px;
    margin-top: 20px;
    color:#fff;
}
.search {
    margin-top: 20px;
    width: 100px;
    display: flex;
    align-items: right;
    justify-content: space-between;
    margin-left: 1075px;
}
.search input {
    border: 0;
    outline: 0;
    background: #fff;
    color: #222;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 40px;
}
.search button img {
    width: 30px;
}
.details {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
#temp {
    font-size: 100px;
}
.attribute {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    width: 130px;
}
.attribute img {
    width: 40px;
    margin-right: 10px;
}
.col {
    margin-right: 40px;
}
.days {
    margin-top: 40px;
    margin-right: 20px;
    width: 300px;
    color: #fff;
    background: #333;
    border-radius: 20px;
    float: right;
}
.daydetails img {
    width: 65px;
    height: 65px;
}
.daydetails {
    display: flex;
}
.daydetails p {
    margin-top: 23px;
    width: 65px;
}
.daydetails button {
    margin-top: 15px;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.daydetails button img {
    width: 30px;
    height: 30px;
}
.favpopup {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.favpopup.open {
    opacity: 1;
    z-index: 999;
}
.hours {
    display: flex;
    float: left;
    background: #333;
    border-radius: 20px;
    width: 1000px;
    height: 92px;
    margin-left: 100px;
}
.hourdetails img {
    width: 70px;
    height: 70px;
}
.hourdetails {
    display: flex;
    width: 200px;
    margin-top: 10px;
}
.hourtext {
    color: #fff;
    margin-top: 8px;
}